@page "/r"
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="" alt="no hay" srcset="">
    <p>nombre</p>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="https://localhost:5001/counter">Cerrar sesion <span
                        class="sr-only"></span></a>
                </li>

            </ul>

        </ul>
    </div>
</nav>
