
body {
    
    overflow-x: hidden;
    font-family: Lobster;
    margin: 0;
    padding: 0;
    color: black;
}
h1{
    text-shadow: 4px 4px 4px #aaa;
}
#voto{
    text-shadow: 4px 4px 4px #aaa;
}
.footer{
   
    margin-top: 230px;
    color: antiquewhite;
    background: rgb(189, 18, 18);
}

header {
    width: 100%;
    overflow: hidden;
    color: antiquewhite;
    background: rgb(189, 18, 18);
    margin-bottom: 30px;
    position: relative;
    width: 100%;
}


.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header nav a {

    display: inline-block;
    color: #f3d9de;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: 500ms ease;
    transition: all 500ms ease;

}

header nav a:hover {

    background: rgb(231, 221, 240);
    border-radius: 50px;

}
.partidos{
    color: antiquewhite;
}
.estilo{
    margin-top: 5%;
    margin-bottom: 7%;
    margin-left: 35%;
    margin-right:35%;
    padding: 2%;
    border: 2px solid rgb(231, 161, 161);
    border-radius: 5px;
    box-shadow: 5px 10px #df5050;
  }

  .inicio-session{
 
    margin: 0 auto;
    width: 550px;
    height: 500px;
    margin-top: 100px;
    
  }
 
  .login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  } 
  .btn{
    background-image: linear-gradient(to right, #569ff2 0%, #ed2fb4 51%, #f25656 100%)}
  
  .btn-grad {background-image: linear-gradient(to right, #569ff2 0%, #ed2fb4 51%, #f25656 100%)}
   
.btn-grad:hover { background-position: right center; };
/* Style all font awesome icons */
.fa {
    padding: 500px;
    font-size: 500px;
    width: 500px;
    text-align: center;
    text-decoration: none;
    border-radius: 70%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-youtube {
    background: #f10e0e;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #da35da;
    color: rgb(245, 241, 244);
  }
  .fa-github {
    background: #121312;
    color: rgb(246, 248, 246);
  }